#no longer wanting to fiddle with project1 vs project2 versions
main.py

test.txt
tokenFile.txt
lineListing.txt
*.pyc
goodSourceTest
comprehensiveSource
goodSourceTest.o
comprehensiveSource.o
testingFile.pas
*offsets.txt